<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Home</title>
  </head>
  <body>
    <h1 class="container p-3 my-2 bg-danger text-light" style="border-radius:8px;"> Donate Blood and Save Life. Be a real life Super Hero!!</h1>

    <div class="container my-4"> 

      <h3>
        <a href="store/donation/"> <button class="btn btn-success p-2">Register New Donor</button></a>
        <a href="store/"><button class="btn btn-success p-2">Show Store Summary</button></a>
        <a href="store/donors/"><button class="btn btn-success p-2">Use Search Tool</button></a>
      </h3>
    </div>

    <div class="container" style="display: flex; justify-content: space-between;"><h2>Why Donation Helps?</h2> <h2>Benefits of Donation</h2> </div>
    <div class="container p-2 " style="display: flex; justify-content: space-between;  background: #c0c0c0;"><h6 class="p-3">Blood from one donation can be divided into two components: red blood cells and plasma. The average adult has about 10 pints of blood, but a typical whole-blood donation is only 1 pint. Red blood cells have a short shelf life. ... You can donate whole blood every 56 days—and we encourage you to donate as often as possible.</h6>
      <h6 class="p-3">Donating blood has benefits for your emotional and physical health. According to a report by the Mental Health Foundation, helping others can:

        reduce stress
        improve your emotional well-being
        benefit your physical health
        help get rid of negative feelings
        provide a sense of belonging and reduce isolation
        Research has found further evidence of the health benefits that come specifically from donating blood.</h6>
    </div>


    <div class="container"><h3>To know more about Blood Donation: <a href="https://www.healthline.com/health/benefits-of-donating-blood#side-effects">Visit Here</a></h3></div>
    
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  </body>
</html>