<!doctype html>
<html lang="en">
  <head>
    <style>
        td, th {
      border: 1px solid #727272;
      text-align: center;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #b4b4b4;
      
    }
  
      </style>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Store</title>
  </head>
  <body>
    <h2 class="container my-4">Store Summary</h2>
    <h3 class="container bg-success p-2" style="border-radius: 4px; text-align: center;">Total Collections</h3>
    <table class="container">
        <tr class="bg-dark text-light" style="text-align: center;">
            <th>A(+)</th>
            <th>A(-)</th>
            <th>B(+)</th>
            <th>B(-)</th>
            <th>AB(+)</th>
            <th>AB(-)</th>
            <th>O(+)</th>
            <th>O(-)</th>
        </tr>
            
        <tr>
            {% for i in bloodgrouparray %}
            <td>{{i}}</td>
            {%endfor%}

        </tr>
        
    </table> 

    <h6 class="container py-3">Total Plasma Collection:   {{plasma}}</h6>
    <h6 class="container ">Last Donation:  {{last_donation.date}}</h6>
    <h6 class="container ">Name:  {{last_donation.Full_Name}}</h6>
    <h6 class="container ">BLOOD GROUP:  {{last_donation.BLOOD_GROUP}}</h6>
        

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>